body {
    background: url(../Images/11.jpg);
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 60px;

}


#wrapper {
    width: 980px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative
}

#wrapper .to-top {
    position:absolute;
    right:-1px;
    top: 0px;
    width:40px;
    height:40px;
    background: #06C;
    text-align:center;
    color:#fff;
    font-size:14px;
    background-color: #005544;
    border: 1px solid #DDD;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    font-family: Oswald;
    cursor: pointer
}

.first-level, .second-level {
    width: 940px;
    height: 402px;
    background: url(../Images/3.jpg) left top no-repeat;
    margin-top: -1px;
    opacity: 0.9;
}

.second-level {
    overflow: hidden
}

.second-level {
    background: url(../Images/3.jpg) left top no-repeat;
    margin-top: -1px;
    opacity: 0.9;
}

.separator {
    height: 4px;
    width: 100%;
    background: url(../Images/separator2.png) left center repeat-x
}
.clear { clear: both; }

a, a:link, a:visited, a:active {
    color: #84cee1;
    border-bottom: 1px dotted #005544;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; 

}

a:hover {
    color: #FFF;
    border-bottom: 1px dotted #555;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

h1, h2 {
    font-size: 40px;
    line-height: 60px;
    color: #FFF;
    margin-bottom: 40px
}

h2 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 30px;
}
h3,h4  {
    margin-bottom: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #FFF;
}

h4 {
    font-size: 16px;
    color: #FFF;	
}
.colored {
    color: #005544	
}

p {
    margin-bottom: 15px;
    color: white;
    text-shadow: 0.5px 0px 0px #000;
    background-color: rgba(0,0,0,0.5);
    padding: 0.5em;
    font-size: 14px;
    line-height: 21px;
}

video{
    background-color: rgba(0,0,0,0.5);
    padding: 0.5em;
}
.title-block {
    width: 100%; height: 5px; border-bottom: 1px solid #e6e8ea; position: relative; margin-bottom: 15px;
}

.title-block .left-line {
    width: 40px; height: 5px; background-color: #005544; position: absolute; left:0; top: 3px
}

.left-side {
    width: 400px; float:left; margin-right: 40px; margin-left: 60px; padding: 30px 0; height: 335px; overflow: hidden
}

.right-side {
    width: 400px; float: left;
    margin-top: 30px;
}

.both-side {
    width: 840px;	margin-right: 40px; margin-left: 60px; padding-top: 30px; 
}

#myPic img{
    width: 170px;
    height: 170px;
    margin-left: 80px;
    border: 5px solid white;
    border-radius: 100px;
}
#backgroundHolder {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #FFF;
}
#realbody {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: auto;
    max-height: 100%;
}
canvas {
    width: 100%;
    height: 100%;
}



.skill-circle {
    width: 115px; 
    height: 115px; 
    background-color: #005544; 
    text-align: center; 
    line-height: 115px;
    float: left; 
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    border: 4px solid #84cee1;
    border-radius: 100px; 	
    -moz-border-radius: 100px; 		
    -webkit-border-radius: 100px; 			
    -o-border-radius: 100px; 
    -khtml-border-radius: 100px; 	

    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear; 

}
.skill-circle:hover {
    background-color: #84cee1;

    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);		
    -o-transform: rotate(-10deg);				
    filter: alpha(opacity=60);		
}


.progress-bar {
    background-color: #FFF;
    height: 25px;
    padding: 5px;
    width: 388px;
    margin: 10px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;      
    border-radius: 3px;
    -o-border-radius: 3px; 
    -khtml-border-radius: 3px; 	

    border: 1px solid #ddd
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    text-align: center;
    line-height: 26px;
    font-size: 11px;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -o-border-radius: 3px; 
    -khtml-border-radius: 3px; 	

    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

.blue span {
    background-color: #005544;
}

.red span {
    background-color: #ff8000;
}

.orange span {
    background-color: #fecf23;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
    background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
    background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
    background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
    background-image: -o-linear-gradient(top, #fecf23, #fd9215);
    background-image: linear-gradient(top, #fecf23, #fd9215);
}       

.green span {
    background-color: #a5df41;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));
    background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);
    background-image: -moz-linear-gradient(top, #a5df41, #4ca916);
    background-image: -ms-linear-gradient(top, #a5df41, #4ca916);
    background-image: -o-linear-gradient(top, #a5df41, #4ca916);
    background-image: linear-gradient(top, #a5df41, #4ca916);
}

.stripes span {
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, left top, right bottom,
        color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
        color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
        to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
        transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
        transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
        transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
        transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
        transparent 75%, transparent);            

    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 */
#container
{
    width: 800px;
    background: #eeeeee;
    border: 1px solid #dddddd;
    padding: 20px 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;	
    border-radius: 3px;
    -o-border-radius: 3px; 
    -khtml-border-radius: 3px; 	

}
.scroll-pane
{
    width: 100%;
    height: 300px;
    overflow: auto;
}
.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    background: red;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #ccc;
    position: relative;
}

.jspDrag
{
    background: #eeeeee;
    border: 1px solid #ccc;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #999;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #999;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #111;
    float: left;
    height: 100%;
}

* html .jspCorner
{
    margin: 0 -3px 0 0;
}


/* 
   ---------------------------------------------------------------------------------------------------------
        Portfolio
   ---------------------------------------------------------------------------------------------------------		
*/

ul#portfolio {
    list-style-type: none;
}

ul#portfolio li {
    float: left;
    margin-right: 40px;
    margin-bottom: 45px;
    width: 350px;
    padding-bottom: 15px;
    height: 260px;
    border-bottom: 1px solid #bbb;
    position: relative;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;

}

ul#portfolio li:hover {
    border-bottom: 1px solid #ccc;
} 

ul#portfolio li img {
    border: 1px solid #ddd;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 3px;
    -o-border-radius: 3px; 
    -khtml-border-radius: 3px; 	
    -moz-border-radius: 3px; 		
    -webkit-border-radius: 3px; 			
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;

}
ul#portfolio li span {
    font-size: 11px;
    color: #005544;
    margin-bottom: 15px;
    line-height: 16px;
}

ul#portfolio li .mask {
    background-color: #005544;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 340px;
    height: 191px;
    opacity: 0;
    filter: alpha(opacity=0);				
    z-index: 100;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
ul#portfolio li .zoom {
    background: url(../images/zoom.png) left center no-repeat;
    z-index: 110;
    position: absolute;
    left: 45%;
    top: 0px;
    opacity: 0;
    filter: alpha(opacity=0);				
    width: 30px;
    height: 46px;
    cursor: pointer;

    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -ms-transform: scale(0);

}

ul#portfolio li:hover .zoom {
    top: 25%;
    opacity: 1;
    filter: alpha(opacity=100);	
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -ms-transform: scale(1);

}

ul#portfolio li a.zoom {
    border: none
}
ul#portfolio li:hover .mask {
    opacity: .5;
    filter: alpha(opacity=50);				
}
a.jspArrow {
    border: none
}
/* 
   ---------------------------------------------------------------------------------------------------------
        Menu
   ---------------------------------------------------------------------------------------------------------		
*/

#menu {
    width: 90%; height: 40px; margin-top: -60px;
}

ul.menu-items {
    list-style-type: none;
}

ul.menu-items li {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    width: 75px;
    height: 48px;
    margin-right: 10px;
    background: transparent url(../Images/) left top no-repeat;
    line-height: 18px;
    padding-top: 70px;
    color: #FFF;
    text-align: center;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;

}

ul.menu-items li:hover {
    cursor: pointer;
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);		
    -o-transform: rotate(-10deg);	
    filter: alpha(opacity=60);			
}
/* 
   ---------------------------------------------------------------------------------------------------------
        Columns
   ---------------------------------------------------------------------------------------------------------		
*/

.one_half 		{ width: 435px; }
.one_third 		{ width: 280px; }
.two_third 		{ width: 590px; }
.one_fourth 	{ width: 202px;; }
.three_fourth 	{ width: 74%; }
.one_fifth 		{ width: 156px; }
.two_fifth 		{ width: 37.6%; }
.three_fifth 	{ width: 58.4%; }
.four_fifth 	{ width: 67.2%; }
.one_sixth 		{ width: 13.33%; }
.five_sixth 	{ width: 82.67%; }

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
    position: relative;
    margin-right: 30px;
    float: left;
}

.column-last {
    margin-right: 0!important;
    clear: right;
}

.margin-top-20 {	
    margin-top: 20px;
}

/*
        Home

*/

.margin-60t { margin-top: 60px; }
.margin-102t { margin-top: 102px; }

#center-div {
    text-align: center; 
    margin: 0 auto
}
.plus {
    float:left; 
    height: 120px; 
    width: 20px; 
    background: url(../images/plus-grey.png) left 53px no-repeat; 
    margin-right: 15px;
}

/*
        Skills

*/

ul#education { list-style-type: none; }
ul#education li {
    border-bottom: 1px solid #E6E8EA;
    padding: 15px 0;
    text-shadow: 0.5px 0px 0px #000;
    background-color: rgba(0,0,0,0.5);
    padding: 1em;
        
}
ul#education li span.study-title { float:left; font-weight: bold; color: #FFF; }
ul#education li span.study-time { float:right; color: #FFF }


ul#interests { list-style-type: none; }
ul#interests li {
    border-bottom: 1px solid #E6E8EA;
    padding: 14px 0;
    color: #FFF;
    font-weight: bold
}
ul#interests li span.title {
    line-height: 20px;
}
ul#interests li span.desc {
    display: block;
    font-weight: normal;
    font-size: 11px;
    color: #999

}

ul#interests li.photography {
    background: url(../Images/camera.png) left center no-repeat;
    padding-left: 60px;
}

ul#interests li.travel {
    background: url(../Images/travel.png) left center no-repeat;
    padding-left: 60px;
}

ul#interests li.music {
    background: url(../Images/music2.png) left center no-repeat;
    padding-left: 60px;
}

ul#interests li.movies {
    background: url(../Images/movies.png) left center no-repeat;
    padding-left: 60px;
}

ul#interests li.design {
    background: url(../Images/design.png) left center no-repeat;
    padding-left: 60px;
}

iframe {
    padding: 10px;
    background-color: #EEE;
    border: 1px solid #ddd;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;


    border-radius: 3px;
    -khtml-border-radius: 3px; 		
    -o-border-radius: 3px; 		
    -moz-border-radius: 3px; 		
    -webkit-border-radius: 3px; 		
    margin-bottom: 15px;
}


/* 
   ---------------------------------------------------------------------------------------------------------
        Contact Details
   ---------------------------------------------------------------------------------------------------------		
*/

ul#contact-details {
    list-style-type: none
}
ul#contact-details li {
    border-bottom: 1px solid #E6E8Ea;
    padding: 20px 0;
    color: #555;
    font-weight: bold;
    padding-left: 45px;	

}

ul#contact-details li.location { background: url(../images/location-ico.png) left center no-repeat; }
ul#contact-details li.mail { background: url(../images/mail-ico.png) left center no-repeat; }
ul#contact-details li.twitter { background: url(../images/twitter-ico.png) left center no-repeat; }
ul#contact-details li.skype { background: url(../images/skype-ico.png) left center no-repeat; }

/* 
   ---------------------------------------------------------------------------------------------------------
        Contact Form
   ---------------------------------------------------------------------------------------------------------		
*/

input[type=text], textarea, .required {
    border-radius: 3px;
    -khtml-border-radius: 3px; 		
    -o-border-radius: 3px; 		
    -moz-border-radius: 3px; 		
    -webkit-border-radius: 3px; 

    background-color: #EEE;
    height: 25px;
    padding: 5px;
    border: 1px solid #DDD;
    width: 398px;
    margin-bottom: 15px;
    margin-right: 20px;
    float: left;
    color: #818181;
    font-size: 11px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; 
    font-family: Arial, Helvetica, sans-serif;	
}

textarea {
    width: 828px;
    height: 140px;
}

.required:hover, input[type=text]:hover, textarea:hover, .required:focus, input[type=text]:focus, textarea:focus {
    background-color: #F5F5F5
}
input[type=text].last-item, .last-item {
    margin-right: 0;
}

input[type=submit] {
    font-size: 11px;
    background-color: #EEE;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
    -khtml-border-radius: 3px; 	
    -o-border-radius: 3px; 	
    -moz-border-radius: 3px; 		
    -webkit-border-radius: 3px; 		

    color: #818181;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; 

}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #005544
}

